---
import { Linkedin, GitHub } from "astro-feather-icons2";

import { Footer } from "../components/Footer";
import { Navbar } from "../components/Navbar";

import logo from "../images/Logo.png";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-2EGEZ4V40T"
      is:inline></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-2EGEZ4V40T");
    </script>

    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio of Siming Yang" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Site - Siming Yang</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer>
      <Linkedin slot="linkedin" />
      <GitHub slot="github" />
    </Footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    overflow-x: hidden;
    /* width: fit-content; */
  }
  @media (max-width: 640px) {
    html {
      width: fit-content;
    }
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
